/* Типографика */
.title_gray{
    color: #3e3362;
    font-family: "Raleway";
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.18px;
    text-align: center;

    margin: 0px;
}

.title_white{
    color: #ffffff;
    font-family: "Raleway";
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.18px;
    text-align: center;

    margin: 0px;
}

.description_gray{
    color: #3e3362;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    line-height: 25.33px;

    margin: 0px;
}

.description_white{
    color: #ffffff;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;

    margin: 0px;
}

/* Первый экран */
#intro{
    /* height: 769px; */
    height: 100vh;
    background-image: url("../img/1intro/bg_intro.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 98px;

}

#logo{
    margin-top: 26px;
}

#intro_title{
    margin-top: 107px;
}

#intro_subtitle{
    margin-top: 32px;
}

h1{
    color: #ffffff;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 11px;

    margin: 0px;
}

#intro_arrow{
    margin-top: 290px;
}

/* Второй экран - information  */

#info{
    height: 425px;
    background-color: #f7f9fa;
    padding-top: 70px;
    /* padding-bottom: 68px; */
}

.info_decor{
    margin-top: 23px;
}

#info_text{
    margin-top: 34px;
    padding: 0px;
}

.info_button{
    height: 48px;
    width: 196px;
    border-radius: 2px;
    border: 4px solid #3e3362;
    background-color: #ffffff;

    color: #3e3362;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;

    margin-top: 65px;
}

.info_button:hover{
    background-color: #3e3362;
    color: #ffffff;
}

.info_button:focus{
    box-shadow: none;
}

/* Третий экран - about */
#about{
    height: 517px;
    background-color: rgb(168, 162, 162);
}

.pic1{
    background-image: url("../img/3about/bg-couple.jpg");
    background-size: cover;
    background-position: center;
    height: 517px;

    padding-top: 160px;
    padding-left: 0px;
    padding-right: 0px;
}

.pic2{
    background-image: url("../img/3about/bg-bird.jpg");
    background-size: cover;
    background-position: center;
    height: 517px;

}

#about_text{
    padding-right: 18%;
    padding-left: 35%;
}


/* Четвертый экран - follow us */
#follow{
    height: 325px;
    background-color: #f7f9fa;

    padding-top: 60px;
}

#follow_decor{
    margin-top: 20px;
}

#follow_text{
    margin-top: 28px;
    padding: 0px;
}

/* Пятый экран - gallery */
#gallery{
    height: 1032px;
    background-color: #9c9d9e;

}

/* Шестой экран - join us */
#join{
    height: 446px;
    background-color: #f7f9fa;

    padding-top: 70px;
    position: relative;
}

#join_text{
    margin-top: 28px;
    padding: 0px;
}

.join_button{
    height: 48px;
    width: 156px;
    border-radius: 2px;
    border: 4px solid #3e3362;
    background-color: #ffffff;

    color: #3e3362;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;

    /* padding: 0px 45px; */
    margin-top: 52px;
}

.join_button:hover{
    background-color: #3e3362;
    color: #ffffff;
}

.join_button:focus{
    box-shadow: none;
}

/* Седьмой экран - map */
#map{
    height: 385px;
    background-image: url("../img/7map/bg-map.jpg");
    background-size: cover;
    background-position: center;

    padding-top: 92px;
}

.map_button{
    height: 48px;
    width: 156px;
    border-radius: 2px;
    border: 4px solid #ffffff;
    background-color: none;

    color: #ffffff;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;

    /* padding: 0px 45px; */
    margin-top: 44px;
}

.map_button:hover{
    background-color: #fdfdfd;
    color: #3e3362;
}

.map_button:focus{
    box-shadow: none;
}

#map_text{
    padding-top: 42px;
}

.decor_align{
    position: absolute;
    left: 50.25%;
    top: 96%;
}

/* Футер */
footer{
    height: 102px;
    background-color: #2b2344;
    padding-top: 20px;
}


/* i{
    padding-left: 22px;
} */


/* a i{
    padding-left: 22px;
    color: #ffffff;
    font-size: 29px;
    opacity: 0.7;
    text-decoration: none;
}

a i:hover{
    color: #ffffff;
    opacity: 1;
} */

.sm_icon {
    padding-left: 22px;
    color: #ffffff;
    font-size: 29px;
    opacity: 0.7;
    text-decoration: none;
}

.sm_icon:hover{
    color: #ffffff;
    opacity: 1;
}